.board {
	width: 100vw;
	height: 100vh;
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(3, auto);
}

.cell {
	width: var(--cell-size);
	height: var(--cell-size);
	border: 2px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;

	&.x {
		cursor: not-allowed;
		@at-root %x-base {
			content: '';
			position: absolute;
			width: calc(var(--mark-size) * 0.15);
			height: var(--mark-size);
		}
		&::before {
			@extend %x-base;
			background-color: var(--mark-color);
			transform: rotate(45deg);
		}
		&::after {
			@extend %x-base;
			background-color: var(--mark-color);
			transform: rotate(-45deg);
		}
		@at-root .board.x .cell:not(.x):not(.o):hover::before {
			@extend %x-base;
			background-color: var(--mark-hover-color);
			transform: rotate(45deg);
		}
		@at-root .board.x .cell:not(.x):not(.o):hover::after {
			@extend %x-base;
			background-color: var(--mark-hover-color);
			transform: rotate(-45deg);
		}
	}
	&.o {
		cursor: not-allowed;
		@at-root %o-base {
			content: '';
			position: absolute;
			border-radius: 50%;
		}
		@at-root %before-size {
			width: var(--mark-size);
			height: var(--mark-size);
		}
		@at-root %after-size {
			background-color: #fff;
			width: calc(var(--mark-size) * 0.7);
			height: calc(var(--mark-size) * 0.7);
		}

		&::before {
			@extend %o-base;
			@extend %before-size;
			background-color: var(--mark-color);
		}
		&::after {
			@extend %o-base;
			@extend %after-size;
			background-color: var(--mark-circle-color);
		}
		@at-root .board.o .cell:not(.x):not(.o):hover::before {
			@extend %o-base;
			@extend %before-size;
			background-color: var(--mark-hover-color);
		}
		@at-root .board.o .cell:not(.x):not(.o):hover::after {
			@extend %o-base;
			@extend %after-size;
			background-color: var(--mark-circle-color);
		}
	}
	&:first-child,
	&:nth-child(2),
	&:nth-child(3) {
		border-top: none;
	}
	&:nth-child(3n + 1) {
		border-left: none;
	}
	&:nth-child(3n) {
		border-right: none;
	}
	&:nth-child(7),
	&:nth-child(8),
	&:last-child {
		border-bottom: none;
	}
}
